@model GreatTrade.Models.Profile

@{
    ViewData["Title"] = Model.User.FullName()+"- Perfil";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

@section Seo{ 

}

@section Scripts{ 

}
<section class="section single-wrap">
    <div class="container">
        <div class="page-title public-profile-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                    <img src="@Html.DisplayFor(model => model.Avatar)" alt="" class="img-circle">
                    <h3>@Model.User.FullName()</h3>
                    <p>@Html.DisplayFor(model => model.User.City.Name) - @Html.DisplayFor(model => model.User.Country)</p>
                    <p>@Html.DisplayFor(model => model.Description)</p>
                    <ul class="list-inline social">
                        @if (Model.Facebook != null && Model.Facebook != "")
                        {
                            <li><a href="@Model.Facebook" title="Sigueme en Facebook"><i class="fa fa-facebook"></i></a></li>
                        }
                        @if (Model.Twitter != null && Model.Twitter != "")
                        {
                            <li><a href="@Model.Twitter" title="Sigueme en Twritter"><i class="fa fa-twitter"></i></a></li>
                        }
                        @if (Model.Instagram != null && Model.Instagram != "")
                        {
                            <li><a href="@Model.Twitter" title="Sigueme en Instagram"><i class="fa fa-instagram"></i></a></li>
                        }
                    </ul>
                    <a href="#" class="followbtn">Contact</a> <span>-</span> <a href="#" class="followbtn">Follow</a>
                </div>
            </div>
        </div>
        <div class="content-top">
            <div class="row">
                <div class="col-sx-6 col-sm-6">
                    <div class="custommenu hidden-xs">
                        <a id="showLeft" href="#" title="" class="bt-menu-trigger"><i class="fa fa-bars"></i> <img src="upload/fav.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 cen-xs text-right">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Cuenta</a></li>
                            <li class="active">Perfil</li>
                        </ol>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->
        <div class="content boxs nopadtop">
            <div class="row">
                <div class="col-md-12">
                    <div class="publicprofile">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#publications" aria-controls="products" role="tab" data-toggle="tab">Publicaciones (@Model.User.Publications.Count())</a></li>
                            <li role="presentation" class=""><a href="#purchase_transactions" aria-controls="products" role="tab" data-toggle="tab">Productos Comprados (@Model.User.PurchaseTransactions.Count())</a></li>
                            <li role="presentation" class=""><a href="#sales_transactions" aria-controls="products" role="tab" data-toggle="tab">Productos Vendidos (@Model.User.SalesTransactions.Count())</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="publications">
                                <div class="row">
                                    @if (Model.User.Publications != null)
                                    {
                                        @foreach (var publication in Model.User.Publications)
                                        {
                                            <partial name="ItemPublication" model="publication"></partial>
                                        }
                                    }
                                </div><!-- end row -->
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="purchase_transactions">
                                <div class="row">
                                    @if (Model.User.PurchaseTransactions != null)
                                    {
                                        @foreach (var purchase in Model.User.PurchaseTransactions)
                                        {
                                            @if (purchase != null)
                                            {
                                                <partial name="ItemPublication" model="purchase.Product.Publication"></partial>
                                            }
                                        }
                                    }
                                </div><!-- end row -->
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="sales_transactions">
                                <div class="row">
                                    @foreach (var sale in Model.User.SalesTransactions)
                                    {

                                        <partial name="ItemPublication" model="sale.Product.Publication"></partial>
                                    }
                                </div><!-- end row -->
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->
        <div class="content-after text-center boxs">
            <div class="row">
                <div class="col-md-12">
                    <nav class="pagination-wrapper">
                        <ul class="pagination">
                            <li><a href="#">1</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div><!-- end row -->
        </div><!-- end content after -->
        @if (Model.Interests != null && Model.Interests != "")
        {
            <div class="content-message boxs">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h3>Mis intereses</h3>
                        <h2>@Html.DisplayFor(model => model.Interests)</h2>
                    </div>
                </div><!-- end row -->
            </div><!-- end content message -->
        }
    </div><!-- end container -->
</section>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
